$primaryColor: #ffffff;
$primaryLightColor: #5f85b1;
// $primaryLightColor:#5f5034;

$primaryTextColor: #2d3c91;
$primaryTextHoverColor: #e3f2fd;
$accentColor: #2d3c91;
$accentLightColor: #ffffff;
$accentTextColor: #5f85b1;
$activeMenuItemTextColor: #5f85b1;
$darkActiveMenuItemTextColor: #5f85b1;
$darkMenuItemTextColor: #dee0e3;
$darkMenuItemInactiveTextColor: #757575;
$darkMenuItemHoverBgColor: #545454;
$darkSidemenuBgColor: #343434;
$darkMenuBgColor: #424242;

@import './layout/_layout';
